:root {
  --color-1:#426B1F;
  --pdd-1:96px;
  
  --brd-1:gray dashed .5px;
}

.font-1 {
font-family: "Inter";
font-size: 1rem;
/* font-style: ; */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  border: var(--brd-1);
  width: 1440px;
  height: 112px;
  /* font-family: ; */
}

.header-left {
  position: absolute;
  border: var(--brd-1);
  left: var(--pdd-1);
  color: var(--color-1);
}
.header-right {
  display: flex;
  border: var(--brd-1);
  position: absolute;
  right: var(--pdd-1);
  justify-content: space-between;
  align-items: center;
  width: 696px;
  height: 48px;
}
.buttonBasked {
  /* width: 126px; */
}

form {
  justify-content: center;
  align-items: center;
  width: 126px;
  /* padding: ; */
  display: flex;
  height: 48px;
  align-items: center;
  background-color: #426B1F;
  color: #ffffff;
}